.center{
    text-align: center;
}

#post-list li.editing {
  padding: 0;
  border-bottom: 0;
}

#post-list .editing .display,
#post-list .edit {
display: none;
}

#post-list .editing .edit {
  display: block;
}

